$font-size: (
  '8': 8px,
  '9': 9px,
  '10': 10px,
  '11': 11px,
  '12': 12px,
  '13': 13px,
  '14': 14px,
  '15': 15px,
  '16': 16px,
  '18': 18px,
  '20': 20px,
  '22': 22px,
  '24': 24px,
  '26': 26px,
  '28': 28px,
  '30': 30px,
  '32': 32px,
  '34': 34px,
  '36': 36px,
  '38': 38px,
  '40': 40px,
  '42': 42px,
  '54': 54px,
  '68': 68px,
  '84': 84px,
  '98': 98px,
);

@each $fontSize, $value in $font-size {
  .ql-size-#{$fontSize} {
    font-size: $value;
  }
}

.ql-align {
  &-right {
    text-align: right;
  }

  &-justify {
    text-align: justify;
  }

  &-center {
    text-align: center;
  }
}

.ql-snow .ql-picker.ql-size {
  width: 60px;
}

.ql-picker-options {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px
  }

  &::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 5px
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555555
  }
}
