@import 'variables';

.hidden-scroll {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.no-pointer {
  pointer-events: none;
  opacity: 0.6;
}

.text-center {
  text-align: center;
}

.div-content {
  background-color: $color-white;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.about {
  @include fluid-padding-top(80px, 150px);
}

@each $color, $value in $text-colors {
  .text-#{$color} {
    color: $value;
  }
}

@each $color, $value in $backgrounds {
  .bg-#{$color} {
    background-color: $value !important;

    //* {
    //  color: map-get($text-bg, $color);
    //}
  }
}
