@import 'variables';

.btn-primary {
  color: $color-white !important;
  background-color: $color-blue !important;
  border-color: $color-blue !important;
  padding: 10px 25px !important;
}
.btn-danger {
  color: $color-white !important;
  background-color: $color-tertiary !important;
  border-color: $color-tertiary !important;
  padding: 10px 25px !important;
}
.btn-light {
  color: $color-black !important;
  background-color: $color-grey-f8f9fa !important;
  border-color: $color-grey-f8f9fa !important;
  padding: 10px 25px !important;
}